body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #00154f;
    font-family: 'roboto', 'sans-serif';
  }
  .squareX{
    color: #f2bc94;
  }
  .square0{
    color: rgba(20, 240, 0, 0.867);
  }
  button {
    background: none;
    border: none;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }
  .win{
    font-weight: bold;
  }
  .startNewGame{
    background-color: #f4af1b;
    border: 2px solid #f4af1b;
    border-radius: 20px;
    margin-top: 1em;
    color: #fff;
    padding: .7em;
  }
  .history{
    color: #fff;
    list-style: circle;
  }
  .app {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .board {
    .board-row {
      display: flex;
      flex-direction: row;
      border-bottom: 2px solid #fff;
      &:last-child {
        border-bottom: none;
      }
      .square {
        width: 80px;
        height: 80px;
        border-right: 2px solid #fff;
        font-size: 2.5rem;
        padding: 0;
        overflow: hidden;
        transition: all 0.2s;
        &:last-child {
          border-right: none;
        }
      }
    }
  }